body{
    margin: 0;
    padding: 0;
}
.header{
    background: rgb(0,63,112);
    background: linear-gradient(90deg, rgba(0,63,112,1) 0%, rgba(0,186,188,1) 100%);
    height: 18vh;
    text-align: center;
    color: white;
    font-family: 'Calibri';
}
.header h1{
    margin: 0;
    padding: 10px 0;
}
.header h2{
    margin: 0;
    padding: 20px 0;
}
.arrow i{
    color: #007c96;
    font-size: 180px;
    position: fixed;
    top: 19vh;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -5;
}
.data{
    margin-top: 100px;
    text-align: center;
    font-family: 'Calibri';
}
.data section{
    display: inline-block;
    margin: 20px 20px 0 20px;
    padding: 10px;
}
.data div{
  display: inline-block;
  vertical-align: center;
}
.data button{
   background-color: #00babc;
   border: none;
   padding: 10px;
   width: 250px;
}
.data input{
    border: 5px solid #00babc;
    height: 40px;
    width: 200px;
}
.main table{
    border-collapse: collapse; 
    margin: 0 auto;
    width: 90px;
    margin-top: 50px;
}
.main table tr th{
    padding: 20px 50px;
}
.main table tr td{
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
}
.main table tr{
    border-bottom: 2px solid #00babc;
}
.main table button{
    padding: 10px;
    border: none;
    border-radius: 50%;
    width: 35px;
}
.main table button i{
    color:white;
}
.main table button:nth-child(1), .main table button:nth-child(2){
    background-color: #003f70;
}
.main table button:nth-child(3){
    background-color: #ff5e5e;
}
.main table button:nth-child(4){
    background-color: #7ae68c;
}